.home{
    display: none;
    height: 100vh;
    /* background-image: url("../img/snow-loop.gif") */
    /* background-image: url("https://media.giphy.com/media/5xaOcLMxvuPIFy8Zm4o/giphy.gif") */
    background-image: url("../img/snow.gif")
}
.name{
    text-align: center;
    font-family: 'Rye', cursive;
    font-size: 100px;
    /* padding: 200px 0px; */
    max-width: 570px;
    margin: auto;
    margin-top: 100px;
    border: 3px solid #000;
}
@media screen and (mIN-width: 767px) {
    .name{
        margin-top: 300px;
    }
}
a{
    color: #000;
}
a:hover{
    text-decoration: none;
    font-weight: bold;
    color: #000;
} 
.list{
    text-align: center;
}
.list > li {
    font-family: 'Barrio', cursive;
    padding: 20px;
    font-size: 30pt;
}
.list > li > a {
    background: #fff;
}
.list > li:hover{
    background-image: url("../img/fire.gif");
    background-size: 80px 60px; 
}
.about{
    background: url(../img/kyriephotos-5.jpg) no-repeat center center scroll;
    background-size: cover;
    background-repeat: no-repeat;
     height: 100%; 
}
@media screen and (min-height: 417px) {
    .about{
        height: 100vh;
    }
}
.about-title{
    padding: 20px;
    background: #000;
    color: #fff;
    max-width: 200px;
    margin: auto;
}
.music{
    background-image: url("../img/shiver.gif");
}
.music-list > li {
    font-family: 'Barrio', cursive;
    font-size: 20pt;
    padding: 10px;
}
.music-list > li > a{
    color: #000;
}   
.music-title{
    margin: auto;
    max-width: 200px;
    padding: 20px;
    color: #fff;
    background: #000;
    margin-bottom: 100px;
}
.sound-container{
    margin: auto;
    max-width: 500px;
}
.short-bio, .short-bio-2{
    margin-top: 100px;
}
.short-bio{
    font-family: 'Permanent Marker', cursive;
    font-size: 24pt;
}
.short-bio-2{
    font-family: 'Permanent Marker', cursive;
    font-size: 20pt;
}
@media screen and (min-width: 767px) {
    .short-bio, .short-bio-2{
        margin-top: 200px;
        font-size: 40pt !important;
    }
    .about{
        height: 100%;
    }
    .short-bio-2{
        padding: 30px;
    }
}
.back-to-top{
    height: 50px;
    background-color: #000;
    padding: 10px;
}
.back-to-top-link{
    color: #fff;
}